{% extends 'base.html' %}

{% block content %}
    <h1>contact page </h1>
    <h3>{{title|capfirst|upper}}</h3>
    {{my_html |safe}}
    <p>
        {{ title }},{{my_number}}, {{my_list}}
    </p>
    <ul>
        {% for my_subitem in my_list %}
        {% if my_subitem == 123%}
        <li>
            {{forloop.counter}}-{{my_subitem | add:22}}
       </li>
       {% elif my_subitem == "abc" %}
       <li>This is string value</li>
       {% else %}
       <li>
        {{forloop.counter}}-{{my_subitem }}
        </li>
        {% endif %} 
       
        {% endfor %}
    </ul>
   

{% endblock %}